*{

    margin:0;
    padding;0;
    box-sizing:border-box;
}


.heading
{
    color: darkred;
}
.subheading
{
    color: darkblue;
    font-size: larger;
}
#resume
{
    text-align: center;
    color: rgb(rgb(12, 136, 66),);
}
#resume:hover{
    color: rgba(3, 15, 107, 0.967);

}
.bgcolor
{
    background-color: lightcyan;
}
.bgcolor:hover
{
    background-color: olive;
}